<!DOCTYPE html>
<head>
<title>{{.Doc.title}}</title>
<style type="text/css">
    img { width: 100%; }
    html { width: 75%; margin: 0 auto; line-height:1.6; font-size:18px; color:#444; background-color: #EEE; }
</style>
</head>
<body>
<h1>{{.Doc.title}}</h1>
{{.Doc.body}}
<footer>
<hr>
<p>Most text &copy; 2018 Kyle Wilcox. You may re-use freely as long as credit is given. Guest contributions &copy; their respective authors.
</footer>
</body>
</html>
